*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#1f2937;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar a{
    color:white;
    text-decoration:none;
}

.sidebar button{
    margin-top:30px;
    width:100%;
    padding:10px;
    cursor:pointer;
}

.contenido{
    flex:1;
    padding:30px;
}

.cards{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.card{
    background:#f4f4f4;
    padding:30px;
    border-radius:10px;
    text-align:center;
    font-weight:bold;
}